@scripts = {
<script type="text/javascript">
    $(function () {
        var urlRoot = 'http://www.somedomain.com/';
        var identifier = $('#identifier');
        var roomName = $('#roomName');
        var roomsList = $('#roomList');
        var flash = $('#flash');
        var rooms = [];

        function initialise() {
            function addRoom() {
                var deleteButton = $('<i>').addClass('icon-remove');
                roomsList.append($('<li>').append(deleteButton).append('&nbsp;' + roomName.val()));
                rooms.push(roomName.val());
            }

            function flashError(msg) {
                flash.addClass('in');
                flash.text(msg);
            }

            function flashHide() {
                flash.removeClass('in');
                flash.addClass('out');
                flash.text("");
            }

            $('#add').click(function (e) {
                e.preventDefault();
                if (roomName.val() !== '') {
                    addRoom();
                    roomName.val('');
                }
            });

            $('#done').click(function(e) {
                e.preventDefault();
                $.ajax( { url: '/quicksetup/create',
                          type: 'POST',
                          data: JSON.stringify({ identifier: identifier.val(), rooms: rooms }),
                          contentType: "application/json; charset=utf-8",
                          dataType: 'JSON',
                          success: function(data) {
                            console.log(data);
                          },
                          error: function(jqXHR) {
                            switch (jqXHR.status) {
                                case 409:
                                    flashError(jqXHR.responseText);
                                    break;
                                case 200:
                                    flashError("Expected JSON in response, got 200 but not JSON");
                                    break;
                                default:
                                    flashError(jqXHR.status + ', ' + jqXHR.responseText)
                            }
                          }});
            });

            $('#url').text(urlRoot);
            identifier.keyup(function () {
                flashHide();
                $('#url').text(urlRoot + identifier.val());
            });
        }

        initialise();
    });

</script>
}

@main("Quick setup", scripts) {

<div class="row">

    <div class="span6">
        <form id="myForm">

            <span class="help-block">
                    Please enter an identifier for your organisation of team. This will be used to generate the unique link
                    for your meeting room booking system.
            </span>

            <div class="input-append">
                <input id="identifier" type="text" placeholder="identifier...">
                <span id="url" class="add-on">.00</span>
            </div>

            <span class="help-block">
                    Please enter the names of your meeting rooms.
            </span>

            <ul class="unstyled" id="roomList">

            </ul>

            <input id="roomName" type="text" placeholder="room name...">


            <p>
                <button id="add" class="btn"> Add</button>
                <button id="done" class="btn btn-primary"> Done</button>
            </p>

        </form>

        <div id="flash" class="alert alert-error fade"></div>

    </div>
</div>
}
